<ion-header>
  <ion-toolbar>
    <ion-title class="task-title">2/4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="distance-container">
    <div
      class="distance-circle"
      [ngStyle]="{ 'background-color': isFarEnough ? 'green' : 'red' }"
    >
      <p class="distance-text">{{ distanceFromStart.toFixed(2) }}m / 10m</p>
    </div>
  </div>

  <div class="buttons-container">
    <button
      class="circle-button red-button"
      (click)="showExitDialog()"
    >
      <ion-icon name="close-outline"></ion-icon>
    </button>

    <button
      class="circle-button grey-button"
      (click)="showInfoDialog()"
    >
      <ion-icon name="information-outline"></ion-icon>
    </button>
  </div>
</ion-content>
