:host {
  --ion-background-color: black;
  --ion-text-color: white;
}

.task-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
}

.distance-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.main-button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.3s;
}

.red-button {
  background-color: red;
  color: white;
}

.grey-button {
  background-color: grey;
  color: white;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  margin-top: 2rem;
}

.circle-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  outline: none;
}

ion-icon {
  font-size: 1.5rem;
  pointer-events: none;
}
